<div id="main-div">
	<img ng-src="./css/Images1/logo.jpg" class="circle">
	<h3 id="caption">Wardrobe Fairy</h3>

	<form id="button_div" ng-submit="users.signup()">
	        <input type="text" name="name" placeholder="Name" ng-model="users.user.name">
	        <input type="text" name="username" placeholder="Username" ng-model="users.user.username">
	        <input type="text" name="email" placeholder="Email" ng-model="users.user.email">
	        <input type="password" name="password" placeholder="Password" ng-model="users.user.password">
	    	<button type="submit" name="submit" class="waves-effect btn-large" id='login_login_button'>
	    		SIGNUP
	    	</button>

	    	<div ng-show="!!users.isloggedIn()">
	    		<a ui-sref="upload"><p>ENTER</p></a>
	    	</div>
	</form>
</div>
